.home-page{
    display: flex;
    justify-content: center;
    height:100vh;
    width:100%;
}

.product-list{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    gap:20px;
    justify-content:center;
    margin-top:60px;
}

.card-text{
    height:100px;
    overflow:hidden;
}

.card-img-top{
    object-fit: contain;
    aspect-ratio: 3 / 2;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-detail-container{
    display: flex;
    padding:100px;
    justify-content: center;
    gap:30px;
    height:100vh;
    width:100%;
}

.product-img{
    object-fit: contain;
    border: 1px solid black;
    height:400px;
    width:400px;
    padding:20px;
    aspect-ratio: 3 / 2;
}

.product-wrapper{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:100%;
}

.product-wrapper p{
width:450px;
text-align:justify;
}

.loading-container{
height:100vh;
width:100vw;
gap:20px;
justify-content: center;
display: flex;
align-items: center;
}